@use "../../../../assets/styles.scss" as *;

.navbar {
  .logo-container {
    align-items: center;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    position: relative;

    .logo-img {
      left: 50%;
      position: absolute;
      transform: translateX(-50%) rotate(-5deg);
      transition: transform 0.3s ease;
      width: 200px;
    }

    .logo-text {
      display: block;
      user-select: none;
    }
  }

  .d-none {
    display: none !important;
  }
}

@media (width <= 991px) {
  .logo-container {
    display: none !important;
  }
}

@media (width <= 1200px) {
  .logo-container {
    flex-grow: 0.75 !important;
  }
}

.menu-left {
  margin-right: 20px;
}
.menu-right {
  margin-left: 20px;
}
