@use '../../../../../assets/styles.scss' as *;

.map-container {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  height: 400px;
  overflow: hidden;
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }
}

.info-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  margin-top: 20px;
  padding: 20px 30px 20px 30px;
  text-align: left;
}

.info-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.info-card p {
  color: var(--gray);
  font-size: 1rem;
}

.info-card i {
  color: var(--primary);
  font-size: 1.8rem;
  margin-bottom: 10px;
}
