@use "../../../../assets/styles.scss" as *;

a.link {
  color: $primary;
  justify-content: center;
  text-decoration: underline;
  display: flex;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}
