<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h2 *ngIf="modalData.title">{{ modalData.title }}</h2>
            <button class="close-btn" (click)="close()">&times;</button>
        </div>

        <div class="modal-body">
            <img *ngIf="modalData.image" [src]="modalData.image" alt="Imagen modal" />

            <div class="mt-3" *ngIf="modalData.message" [innerHTML]="modalData.message"></div>

            <ng-container *ngIf="modalData.selects">
                <div *ngFor="let sel of modalData.selects" class="form-group mt-3">
                    <label>{{ sel.label }}</label>
                    <select class="form-control" [(ngModel)]="sel.selected">
                        <option *ngFor="let o of sel.options" [ngValue]="o.value">
                            {{ o.label }}
                        </option>
                    </select>
                </div>
            </ng-container>

            <div *ngIf="modalData.select">
                <label>{{ modalData.select.label }}</label>
                <select class="form-control" [(ngModel)]="modalData.select.selected">
                    <option *ngFor="let item of modalData.select.options" [value]="item.value">
                        {{ item.label }}
                    </option>
                </select>
            </div>
        </div>

        <div class="modal-buttons" *ngIf="modalData.buttons">
            <button *ngFor="let btn of modalData.buttons" (click)="btn.action()" [class]="btn.class">
                {{ btn.label }}
            </button>
        </div>
    </div>
</div>