@use "../../../../../assets/styles.scss" as *;

.badge-warning {
    background-color: #ffc107;
    color: black;
}

.badge-success {
    background-color: #17a2b8;
    color: white;
}

.badge-secondary {
    background-color: #28a745;
    color: white;
}

.badge-danger {
    background-color: #dc3545;
}
.btn {
    background: none;
    padding: 2px;
    cursor: pointer;
}
.tooltip-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-btn::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.tooltip-btn:hover::before {
    visibility: visible;
    opacity: 1;
}
.form-card-bg {
    background: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: fit-content;
    max-width: 925px;
}

@media (max-width: 925px) {
    .table-container {
        overflow-x: auto;
        display: block;
        width: 100%;
    }
    .form-card-bg {
        display: block;
        width: 100%;
    }
}
