<div class="container mt-5 col-md-5" *ngIf="mostrarMenu">
  <h1 class="text-center mb-4">Gestión Reservas</h1>

  <div class="form-card-bg p-5">
    <div class="column d-flex flex-column">
      <button class="btn btn-primary" (click)="irA('consultar')">Consultar Reserva</button>
      <button class="btn btn-primary mt-4" (click)="irA('hoy')">Consultar reservas del día</button>
      <button class="btn btn-primary mt-4" (click)="irA('crear')">Crear Reserva</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!mostrarMenu">
  <div class="volver-container" *ngIf="esAdmin" (click)="volver()">
    <i class="fas fa-arrow-left volver-icon"></i>
    <span class="volver-text">Volver</span>
  </div>

  <router-outlet></router-outlet>
</div>
