@use "../../../../../assets/styles.scss" as *;
.filtro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.filtro-container label {
  font-weight: bold;
  margin-bottom: 0;
}

.btn-group .btn {
  transition: all 0.3s;
}

.search {
  color: $primary;
  margin-bottom: 10px;
}
