@use '../../../../assets/_variables.scss' as *;

// Card más compacta
.carrito-card {
  border-radius: 20px;
  max-height: 90vh;
  max-width: 90vw; // reduce el ancho máximo
  overflow: hidden;
  transition: transform 0.2s ease;
  width: 100%;

  &:hover {
    transform: translateY(-3px);
  }
}

.card-img-top {
  aspect-ratio: 4 / 3;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.btn-icon {
  background: none;
  border: none;
  color: var(--quaternary);
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  transition: color 0.2s ease;

  &_plus {
    @extend .btn-icon;

    color: var(--primary);
  }

  &:hover {
    color: var(--secondary);
  }
}

.resumen h4 {
  font-weight: bold;

  small {
    color: var(--gray-dark);
    font-size: 0.8rem;
  }
}

@media (width <= 400px) {
  .carrito-card {
    border-radius: 10px;
    max-height: none;
    max-width: 100vw;
  }

  .btn-icon {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
  }

  .resumen {
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
  }
}
