@use '../../../../assets/styles.scss' as *;

// Card más compacta
.carrito-card {
    max-width: 500px; // reduce el ancho máximo
    border-radius: 20px;
    max-height: 500px;
    overflow: hidden;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.btn-icon {
    border: none;
    background: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--quaternary);
    cursor: pointer;
    transition: color 0.2s ease;

    &_plus {
        @extend .btn-icon;
        color: var(--primary);
    }

    &:hover {
        color: var(--secondary);
    }
}

.resumen h4 {
    font-weight: bold;

    small {
        font-size: 0.8rem;
        color: var(--gray-dark);
    }
}
