.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin-top: 0;
}

img {
  max-height: 100%;
  width: 100%;
}

p {
  color: var(--gray);
  font-size: 1.5rem;
}

a {
  color: var(--light);
  text-decoration: none;
}

