@use "../../../../assets/styles.scss" as *;

.producto-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: translateY(-5px);

        .producto-img img {
            transform: scale(1.05);
        }
    }

    .producto-img {
        width: 100%;
        height: 200px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
    }

    // Información del producto
    .producto-info {
        padding: 10px;
        text-align: center;
        background: white;

        .producto-nombre {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .producto-precio {
            font-size: 1rem;
            color: var(--green);
            font-weight: bold;
        }
    }

    // Información oculta en desktop, visible en hover
    .producto-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        p {
            margin: 5px 0;
        }
    }

    &:hover .producto-hover {
        opacity: 1;
    }
}

// Adaptación para dispositivos móviles
@media (max-width: $breakpoint-md) {
    .producto-card {
        .producto-hover {
            position: relative;
            opacity: 1;
            background: white;
            color: black;
            padding: 15px;
        }
    }
}

.categoria-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.75rem;
}

.form-group {
        label {
        margin-bottom: 4px;
        color: var(--dark);
    }

    input,
    select {
        padding: 0.5rem;
    }
}

.filtros-card {
    border: 1px solid var(--gray);
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.btn-icon {
    background: none;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    i {
        transition: color 0.3s ease;
    }
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--quaternary) !important;
}